################################################
###       environment config file            ###
################################################

#各服務的位置
APP_PATH=/data/apps
# 各服務的log
LOG_PATH=/data/var/logs
# 代碼運行位置
CODE_PATH=/data/htdocs
# 各個容器的數據備份, 例如MySQL,Redis..等等,防止容器掛載後數據不見
BACKUP_PATH=/data/var/backup
# 各個服務的配置, 放在當前目錄下,每個服務的conf目錄中
CONF_PATH= ./
# 項目代碼版控
DEV_PATH= /data/dev
# 腳本路徑
EXEC_PATH= /data/exec


############# GLOBAL ############
# example http(s)://example.com
URL=http://example.com
# 記得要帶入http or https 


############# Timezone for the containers ############
TZ=Asia/Taipei
# 美国 America/New_York
# 日本 Asia/Tokyo
# 上海 Asia/Shanghai
# 台北 Asia/Taipei

#############            MySQL            ############
# 稳定版 8.0.32
MYSQL_VERSION=8.0.32
# 若要將資料庫對外開放 請修改為0.0.0.0
MYSQL_HOST_PORT=3306
# 生產環境請替換密碼
MYSQL_ROOT_PASSWORD=dfahk1h89

